 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <% provide(:title, 'user') %>

     
      <link rel="stylesheet" type="text/css" href="users">
<div class="contolo"> <div class="control">
 <%= form_for(:session, url: login_path) do |f| %>
     
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      
      <%= f.submit "Login", class: "btn btn-primary" , id: "button"%>
    <% end %>

</div>


  
<div class="already"><h1>You donot have account? </h1>
  <p>Signup now</p>
  <a href="/signup">Signup</a>
</div>
</div> 