<%= link_to "Back", user_path(current_user),class: "btn btn-primary" , id: "button2"%>
<%= link_to "LOG OUT", logout_path, method: :delete ,class: "btn btn-primary" , id: "button1"%>
<div class="contolo"> <div class="control">


<%= form_for(@supervisor) do |f| %>
  <% if @supervisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>

      <ul>
      <% @supervisor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name , class: 'form-control' %>
  </div>
 <div class="field">
    <%= f.label :url %>
    <br>
    <%= f.text_field :url, class: 'form-control'  %>
  </div>


  <% f.fields_for :services do |ff| %>
    <div class="field">
      <%= ff.time_select :start_time, :minute_step => 15, :ampm => true %>
    </div>
 
    <div class="field">
      <%= ff.time_select :end_time, :minute_step => 15, :ampm => true %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "create", class: "btn btn-primary" , id: "button"%>
    </div>


<% end %>
</div>
<script>

  $('#ranger').click(function () {

  $('#target').text($('#ranger').val())

  });
</script>