 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <% provide(:title, 'user') %>

      <%= render 'shared/error_message' %>
<div class="contolo"> <div class="control">
 <%= form_for(@user, url: signup_path) do |f| %>
     

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'enter name' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control',placeholder: 'enter email' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control',placeholder: 'enter password' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' ,placeholder: 're-enter same password'%>

      <%= f.submit "Create my account", class: "btn btn-primary" , id: "button"%>
    <% end %>

</div>


  
<div class="already"><h1>Already have a account?</h1>
  <p>Awesome</p>
  <a href="/login">Login</a>
</div>
</div> 

