<%= link_to "LOG OUT", logout_path, method: :delete ,class: "btn btn-primary" , id: "button1"%>


  

<div class="left-supervisors">
<%= link_to "Add new", new_supervisor_path,class: "btn btn-primary" , id: "button2"%>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supervisors.each do |supervisor| %>
      <tr>
          <td><%= link_to supervisor.name, new_supervisor_service_path(supervisor) %></td>
        <td class="url"><%= supervisor.url %></td>
    
        <td><%= link_to 'Edit', edit_supervisor_path(supervisor) %></td>
        <td><%= link_to 'x', supervisor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>



