<%= form_for [@supervisor, @service] do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %>
    <%= f.collection_select(:type_id, @all_types,:id,:name,prompt: true) %>
  </div>

  <div class="field">
    <%= f.label :port %>
    <%= f.text_field :port %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
