<!DOCTYPE html>
<html>
  <head>
    <title>Monitorapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
 
    <a href="/"><div class="left-nav"></div></a> 
    <div class="right-nav">
      <ul class="navbar">
        <li><a href="/">Main</a></li>
        <li><a href="">Downloads</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contacts</a></li>
        <% if logged_in? %>
        <li><%= link_to "logout", logout_path, method: :delete, class: "signup" %></li>
        <li><%= link_to "Monitors", user_path(current_user) %></li>
        <% else %>
        <li class="signup"><a href="/signup">signup</a></li>
        <li><a href="/login">Login</a></li>
        <% end %>
      </ul>

    </div>
  
</div>
    <%= yield %>
  </body>
</html>
